setuptools==75.8.0
wheel==0.45.1
numpy==1.26.4
scipy==1.13.1
fastapi==0.115.12
streamlit==1.45.1
pandas==2.2.3
Pillow==11.1.0
python-dotenv==1.1.0
uvicorn==0.34.3
prophet==1.1.7
requests==2.32.3
pydantic==2.10.6
scikit-learn==1.6.1
google-generativeai==0.8.5
matplotlib==3.10.0
statsmodels==0.14.4
pmdarima==2.0.4
